#allow hal_vibrator default_prop:file { read open getattr } ;
allow hal_vibrator sysfs_oem:file { read open getattr } ;
allow hal_vibrator vendor_soc_id_prop:file { read open getattr map } ;
