type vendor_soc_id_prop, property_type, vendor_property_type, vendor_internal_property_type;
type vendor_camera_prop, property_type;
type vendor_adsprpc_prop, property_type;
type sensors_dbg_prop, property_type;
